.bigg {
    background-color:white;
    height: 90%;
    width: 1000px;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    border-color: whitesmoke;
    border-radius: 10px;
    

}

.sma {
    
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    width: 800px;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    padding-left: 40px;
   
    border: none;
    margin-top: 50px;

}
.first-r input{
    width: 60%;
    height: 20px;
}
.first-r {
    display: flex;
    width: 800px;
    height: 60%;
    /* background-color: purple; */
}

.first-r>div {

    width: 50%;
    height: 90%;
    margin-right: 20px;

}

.l {

    margin-right: 40px;
}

.below-f {
    width: 100%;
    height: 30%;
}

a>button {
    width: 90%;
    margin: auto;
    height: 35px;
    background-color: gold;
    /* margin-left:228px; */
    border: none;
    color:white;
     font-size: x-large;
     font-family:'Times New Roman', Times, serif;
     margin-top: 10px;
}